# https://docs.ansible.com/projects/ansible/latest/reference_appendices/config.html
[defaults]
# every source is loaded, in alphabetical order
inventory = inventory/
roles_path = roles
# vms often destroyed and recreated
host_key_checking = False
interpreter_python = auto_silent

[inventory]
any_unparsed_is_failed = True
